<h2>Agrega una nueva persona</h2>
<br>
<form [formGroup]="peopleForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="nameControl" class="form-label">Nombre</label>
    <input type="text" class="form-control" formControlName="name" required>
  </div>
  <div class="mb-3">
    <label for="ageControl" class="form-label">Edad</label>
    <input type="number" class="form-control" formControlName="age" required>
  </div>
  <div class="mb-3">
    <label for="emailControl" class="form-label">Correo electrónico</label>
    <input type="email" class="form-control" formControlName="email" required>
  </div>

  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3" [disabled]="!peopleForm.valid" >Guardar</button>
  </div>
</form>
